*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* .content-area{
    border: 1px solid red;
}
.video-container{
    border: 2px solid green;
    width: 100%;
}
nav{
    border: 3px solid blue;
} */


header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 55px;
    padding: 0 16px;
    margin-bottom: 2%;
}

.content-area{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 3%;
    width: 100%;
}

.left-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left-sec img{
    width: 46%;
    padding-left: 1rem;
}

.mid-sec{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-sec form{
    /* border: 2px solid; */
    display: flex;
    height: 40px;
    width: 620px;
}

.mid-sec form input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}

.mid-sec button{
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
}

.right-sec a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.video-title{
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 5%;
    margin-bottom: 1%;
}

.creator-img img{
    /* border: 2px solid; */
    width: 8%;
    border-radius: 50%;
    margin-left: 5%;
    /* margin-bottom: 1%; */
}

.video-details{
    font-size: 1rem;
    font-weight: 200;
    margin-left: 6%;
    margin-bottom: 1%;
}

.video-btn{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 5%;
    margin-bottom: 1%;
}
.video-btn i{
    cursor: pointer;
}
.video{
    margin: 5%;
}

.video-details span{
    font-weight: 900;
    cursor: pointer;
}

.vid-thbnl img{
    cursor: pointer;
}