*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 55px;
    padding: 0 16px;

}

.content-area{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.left-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left-sec img{
    width: 46%;
    padding-left: 1rem;
}

.mid-sec{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-sec form{
    /* border: 2px solid; */
    display: flex;
    height: 40px;
    width: 620px;
}

.mid-sec form input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}

.mid-sec button{
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
}

