*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 55px;
    padding: 0 16px;

}

.content-area{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.left-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left-sec img{
    width: 46%;
    padding-left: 1rem;
}
